.card-img {
  margin: auto;
  padding: 10px;
  max-width: 500px;
}
.card-header{
 text-align: center;
  background:none;
  }
.responsive {
  width: 100%;
  height: auto;
}
.card-title {
  margin: 15px;
  margin-top: 50px;
}
.card-text {
  margin: 15px;
}
