<div class="container" *ngIf="item | async; let item; else loading">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/whitepapers']">Whitepapers</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{item.title}}</li>
    </ol>
  </nav>

  <div class="card">
    <iframe [src]="item.link | safe" #pdfobject width="100%" height="700px"></iframe>
  </div>
</div>

<ng-template #loading>Laddar ...</ng-template>
