<div class="container">


  <div class="card">

    <div class="jumbotron">

      <h2>My Portable Career</h2>

        <img src="../../assets/images/Brought to you by.png">

    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-9 col-sm-8 col-lg-8">

          <div class="card-text">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/c6O-hLCXkwc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <p><br>
              My Portable Career is a 'career data management system' allowing people to get control over their own career data. The platform will also allow service-providers to reach individuals that want and need their services.

              The tool enables people to collect their data and sync it with service providers of their choice.

              By shifting the focus from accumulation of personal data to usefulness of the service provided, we believe we can boost digital innovation for the benefit of the entire labor market.

              We invite public and private entities operating in Sweden to cooperate with us by ‘plug-in’ their services into this infrastructure.

            </p>
            <b>User Cases:</b>
              <ol>
                <li>Gather all your qualifications, ratings, gigs, work experience, performance review, etc. in one single place.</li>
                <li>Create, manage and keep track of multiple digital CVs and be discoverable with various level of anonymity.</li>
                <li>Use your data to apply for jobs and to update or transfer selected information to third parties applications</li>
              </ol>
            <b>Collaboration:</b>
            <ul>
              <li>For developers: This project is open sourced and can be found on Github. If you want to contribute you can get more information by contacting us at <a href="mailto:http://arbetsformedlingen.se" target="_blank">portability@arbetsformedlingen.se</a></li>
              <li>For partners: Any service we create beyond the infrastructure are for showcase only and will remain in place until and if replaced by third parties services. To become a partner or for any other enquiry, contact us at <a href="mailto:http://arbetsformedlingen.se" target="_blank">portability@arbetsformedlingen.se</a></li>
            </ul>
            <b>Usefull links:</b>

            <p>Project page: <a href="http://pilot.arbetsformedlingen.se/mpc/" target="_blank">http://pilot.arbetsformedlingen.se/mpc/</a>
              HROpen: <a href="https://hropenstandards.org/" target="_blank">https://hropenstandards.org/</a>
              HRJason: <a href="https://hropenstandards.org/download-the-standards/" target="_blank">https://hropenstandards.org/download-the-standards/</a>
              Github – coming soon
            </p>


          </div>
        </div>



      </div>

    </div>

  </div>
</div>


