<div class="container">


  <div class="card">

    <div class="jumbotron">

      <h2>Jobtech Store</h2>



    </div>

    <div class="card-body">
      <div class="row">

        <div class="col-md-12 col-sm-12 col-lg-12">

          <div class="card-text">
            <div class="col-md-9 col-sm-12 col-lg-8">
              <p>


                Jobtech Store intends to gather and present thousands of digital labour market services, all in one place. The target audience is wide.
                <br> All people from students to seniors who want to take on work and assignments. And everyone that has work to be done and need someone do it for them, whether it is an employment or some kind of short on-demand job or other “gig”.
                <br>
                <br>
                Jobtech Store will help both end user groups to find digital services that are relevant to their situation and needs and at the same time help the service suppliers to drive relevant traffic to their digital services.

                <br>
                <br>
                Our intention is to launch Jobtech Store early 2019 and in the meantime increase the number of services prior to launch.

                Preview Jobtech Store on <a href="http://www.jobtechstore.se" target="_blank">Jobtech Store</a> and you are welcome to register your digital labour market service now.
                Read more <a href="http://www.jobtechstore.se/about" target="_blank"> about Jobtech Store </a>
                <br>
                <br>
                Check out the code here (a link to Bitbucket page, Jonas will help me edit it and supply the link).


              </p>


            </div>
          </div>
        </div>





      </div>

    </div>

  </div>
</div>


