<div class="container">


  <div class="card">

    <div class="jumbotron">

      <h2>Jobtech Store</h2>



    </div>

    <div class="card-body">
      <div class="row">

        <div class="col-md-12 col-sm-12 col-lg-12">

          <div class="card-text">
            <div class="col-md-9 col-sm-12 col-lg-8">
              <p>


                Jobtech Store intends to gather and present thousands of digital labour market services, all in one place. The target audience is wide.
                Everyone, from students to seniors, who want to take on work and assignments, to people having work needed to be done, and need someone to do it for them, whether it is an employment or some kind of short on-demand job or other “gig”.
                <br><br>
                Jobtech Store will help both end user groups to find digital services that are relevant to their situation and needs and at the same time help the service suppliers to drive relevant traffic to their digital services.
                <br><br>
                Our intention is to launch Jobtech Store in 2019 and in the meantime increase the number of services prior to launch. Preview <a href="http://www.jobtechstore.se/" target="_blank">Jobtech Store</a>, you are welcome to register your digital labour market service now.

                Read more about <a href="http://www.jobtechstore.se/about" target="_blank">Jobtech</a> Store and check out the <a href="https://bitbucket.org/af-ekosystem/job-store" target="_blank">code</a>.



              </p>


            </div>
          </div>
        </div>





      </div>

    </div>

  </div>
</div>


