  <div class="p-3 bg-dark text-light ">
    <div class="row">
      <div class="column" style="background-color: #76ff03">
        <span>Hälsingegatan 45
          Stockholm, 113 31
          <a href="mailto:contact@jobtechdev.se">contact@jobtechdev.se</a>
        </span>
      </div>
      <div class="column" style="background-color: #00bcd4">
        <span class="a">Follow us</span>
        <img src="assets/images/social/Twitter_White.png" alt="Twitter" class="social-media" /><img src="assets/images/social/GitHub_White.png" alt="Github" class="social-media" />

      </div>
      <div class="column aflogo"style="background-color: #9575cd">
        <span class="text"> Powered by</span>
        <img src="assets/images/AF_logo.png" class="logo">
      </div>
    </div>

  </div>

