@import '~scss/_variables';

.jumbotron {
  margin-top: -85px;
  margin-bottom: 0px;
  height: 200px;
  border-radius: 0;
  background-image: url("../../assets/images/startpage-header-bg.jpg");

}
.work-in-progress {
  //max-width: 1200px;
  background-color: #0967b2;
  // line-height: 62px;
  text-align: center;
  padding: 15px 20px;
  border-radius: 0px;

  p {
    font-size: 18px;
    color: $white;
    margin: 0;

    @media screen and (max-width: $medium-devices) {
      font-size: 14px;
    }

    a {
      color: $white !important;
      font-weight: bold;
    }
  }

}

.container-fluid {
  max-width: 1200px;
  }

.our-vision {
  background-color: #e8e1e6;

}

.principles {
  background-color: #DCE6E0;
}

.section-header {
  color: $almost-black;
  padding-top: 30px;
}
.subtitle {
  font-size: larger;

  //font-weight: bold;
}
.image-cell {
  margin: 0px;
  padding:0px ;
}
.img-fluid {
  width: 100%;
  margin: 0px;
  padding: 0px 3px 3px 3px;
  border-radius:5px;

}

.carousel-caption {

   /* RGBa with 0.6 opacity */

  background-color: #343a40;
  color: #f8f9fa ;
  width: 100%;
  right: 0%;
  left: 0%;
  bottom: 0px;
  position: relative;




}
.carousel {

  background-color: #343a40;
}
.banner {
  color: #f8f9fa ;
  font-weight: 900;
  transform: rotate(45deg);
  background-color: #AE77D7;
  font-size: small;
  right: -40%;
  top: 40px;
  position: relative;
  z-index: 5;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;

}
.banner:hover {
  cursor: pointer;
}
a {
  color: #fff;
  z-index: 20000;
  text-decoration: none;
}




