@import '~scss/_variables';


.column1 {
  float: left;
  width: 100%;
  padding: 50px;
  height: 300px; /* Should be removed. Only for demonstration */
  background-color:white;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 500px; /* Should be removed. Only for demonstration */

}
.what{
  color: #484e87;
  font-weight: bolder;
  text-align: center;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
img.icon {
  max-height: 100px;
  max-width: 100px;
  margin-right: 40%;
  margin-top: 95px;
  margin-left: 40%;
  margin-bottom: 100px;

}



.text {
  text-align: center;



}












