<div class="work-in-progress">


  <p>We invite you to explore JobTech and give us your valuable feedback. <a
    href="mailto:contact@jobtechdev.se">Email us</a>
  <br>
   <br>
  Below you can see some applications built on Open Source</p>
</div>

<div class="row">
<div class="col-2 col-sm-2 col-md-2 col-lg-2"></div>
<div class="col-8 col-sm-8 col-md-8 col-lg-8" style="height: 790px">

  <br>
  <ngb-carousel>

    <ng-template *ngFor="let image of images; let i = index" ngbSlide>

      <div class="carousel-caption container-fluid">
        <h5>{{image.header}}</h5>
        <!--<p>{{image.description}}</p>-->
      </div>
      <div class="container">
        <a href="{{image.link}}" target="_blank">
          <div class="banner container">

            Fork me on Github


          </div>
        </a>
        <a href="{{image.demolink}}" target="_blank">
        <img class="img-fluid" [src]="image.image" alt="Random first slide ">

        </a>
      </div>


    </ng-template>
  </ngb-carousel>

 </div>
</div>

