<div class="container">


  <div  class="row outer-div">
    <div class="inner-div" style="background-color: #ffffff">
      <h2 class="divheader">What do we do?</h2>
      <p class="text">Jobtech (job technology) is a collective term for technical innovation in the labour market sector.
        Jobtech is characterized by collaboration between several actors in the labour market arena.
        Rather than today having separate systems for job matching, we strive for a digital ecosystem where services from different vendors can flourish together making superior opportunities for jobseekers and employers.</p>
    </div>
  </div>
  <div class="row outer-div">
  <div class="column" style="background-color:#f6f6f9">
    <a href="apidatasets"><img src="../../assets/images/API_icon.png" class="icon"></a>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit "Lorem ipsum dolor sit amet, consectetur
      adipiscing elit.</p>
  </div>

  <div class="column" style="background-color:#f6f6f9;">
    <div class="text">
      <a href="showcase"><img src="../../assets/images/Showcase_icon.png" class="icon"></a>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit "Lorem ipsum dolor sit amet, consectetur
            adipiscing elit.</p>
      </div>
  </div>
  </div>
  <div class="row outer-div">
    <div class="column1 inner-div">
      <h2 class="divheader">Partners</h2>

      <img src="../../assets/images/Vinnova_green_RGB.png" class="icon">
    </div>

</div>

</div>

